[Unit]
Description=run the ambicam server located in ~/ambicam/

Wants=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/ambicam/
ExecStart=/home/pi/ambicam/bin/python /home/pi/ambicam/app.py

[Install]
WantedBy=multi-user.target
