{
    "resolution": {
        "width": 640,
        "height": 480
    },
    "cameraInterface": "cv2",
    "window": {
        "left": 140,
        "top": 205,
        "right": 385,
        "bottom": 300
    },
    "checkWindow": {
        "top": 165,
        "left": 125,
        "bottom": 330,
        "right": 400
    },
    "leds": [
        {
            "side": "bottom",
            "leds": 48,
            "from": 0.5,
            "to": 1,
            "check": true
        },
        {
            "side": "right",
            "leds": 54,
            "from": 1,
            "to": 0,
            "check": true
        },
        {
            "side": "top",
            "leds": 96,
            "from": 1,
            "to": 0,
            "check": true
        },
        {
            "side": "left",
            "leds": 54,
            "from": 0,
            "to": 1,
            "check": true
        },
        {
            "side": "bottom",
            "leds": 48,
            "from": 0,
            "to": 0.5,
            "check": false
        }
    ],
    "blur": 0,
    "telnet": {
        "host": "192.168.1.108",
        "port": 3636
    },
    "connection": {
        "host": "0.0.0.0",
        "port": 5000
    },
    "fps": {
        "capture": 30,
        "interpolation": 0
    },
    "colors": {
        "red": 0.7,
        "green": 0.53,
        "blue": 1.0,
        "brightness": 1.0
    },
    "smoothing": 0.95,
}