{
    "ambicam": {
        "host": "0.0.0.0",
        "port": 5000
    },
    "server": "bridge",
    "bridge": {
        "host": "192.168.1.117",
        "port": 7000
    },
    "prismatik": {
        "host": "192.168.1.108",
        "port": 3636
    },
    "tv": {
        "host": "192.138.1.113"
    },
    "resolution": {
        "width": 640,
        "height": 480
    },
    "cameraInterface": "cv2",
    "v4l2": {
        "white_balance_auto_preset": 0,
        "red_balance": 1430,
        "blue_balance": 1400,
        "saturation": 30
    },
    "window": {
        "left": 135,
        "top": 195,
        "right": 375,
        "bottom": 315
    },
    "checkWindow": {
        "top": 175,
        "left": 115,
        "bottom": 340,
        "right": 395
    },
    "leds": [
        {
            "side": "bottom",
            "leds": 48,
            "from": 0.5,
            "to": 1,
            "check": false
        },
        {
            "side": "right",
            "leds": 54,
            "from": 1,
            "to": 0,
            "check": false
        },
        {
            "side": "top",
            "leds": 96,
            "from": 1,
            "to": 0,
            "check": false
        },
        {
            "side": "left",
            "leds": 54,
            "from": 0,
            "to": 1,
            "check": false
        },
        {
            "side": "bottom",
            "leds": 48,
            "from": 0,
            "to": 0.5,
            "check": false
        }
    ],
    "fps": {
        "capture": 30,
        "interpolation": 0
    },
    "colors": {
        "red": 1.0,
        "green": 0.81994459833795,
        "blue": 0.6759002770083102,
        "brightness": 0.1
    },
    "smoothing": 0.95
}