{
    "resolution": {
        "width": 640,
        "height": 480
    },
    "cameraInterface": "cv2",
    "v4l2": {
        "white_balance_auto_preset": 0,
        "red_balance": 1500,
        "blue_balance": 1500,
        "saturation": -30
    },
    "window": {
        "left": 135,
        "top": 205,
        "right": 380,
        "bottom": 300
    },
    "checkWindow": {
        "top": 170,
        "left": 115,
        "bottom": 335,
        "right": 395
    },
    "leds": [
        {
            "side": "bottom",
            "leds": 48,
            "from": 0.5,
            "to": 1,
            "check": false
        },
        {
            "side": "right",
            "leds": 54,
            "from": 1,
            "to": 0,
            "check": false
        },
        {
            "side": "top",
            "leds": 96,
            "from": 1,
            "to": 0,
            "check": false
        },
        {
            "side": "left",
            "leds": 54,
            "from": 0,
            "to": 1,
            "check": false
        },
        {
            "side": "bottom",
            "leds": 48,
            "from": 0,
            "to": 0.5,
            "check": false
        }
    ],
    "blur": 0,
    "telnet": {
        "host": "192.168.1.108",
        "port": 3636
    },
    "connection": {
        "host": "0.0.0.0",
        "port": 5000
    },
    "fps": {
        "capture": 30,
        "interpolation": 0
    },
    "colors": {
        "red": 0.57,
        "green": 0.62,
        "blue": 0.67,
        "brightness": 1.0
    },
    "smoothing": 0.95
}