<div>
    '<img src="static/frame.jpg">'
</div>

<div>
    <button onclick="window.location.href='/window?cmd=ll'">l-</button>
    <button onclick="window.location.href='/window?cmd=lr'">l+</button>
    <button onclick="window.location.href='/window?cmd=r-'">r-</button>
    <button onclick="window.location.href='/window?cmd=r+'">r+</button>
    <button onclick="window.location.href='/window?cmd=o-'">o-</button>
    <button onclick="window.location.href='/window?cmd=o+'">o+</button>
    <button onclick="window.location.href='/window?cmd=u-'">u-</button>
    <button onclick="window.location.href='/window?cmd=u+'">u+</button>
</div>
<div>
    <button onclick="window.location.href='/'">reload</button>
    <button onclick="window.location.href='/stop'">stop</button>
</div>