<!DOCTYPE html>
<html>

<body>

    <head>
        <title>ambicam control</title>
    </head>
    <p>
        <!-- 3x3 table -->
    <table align="center">
        <tr>
            <td>
            </td>
            <td align="center">
                <button onclick="window.location.href='/window?cmd=ou'">&#11015;</button>
                <button onclick="window.location.href='/window?cmd=oo'">&#11014;</button>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="window.location.href='/window?cmd=ll'">&#11013;</button><br>
                <button onclick="window.location.href='/window?cmd=lr'">&#10145;</button>
            </td>
            <td>
                <img src="../static/frame.jpg">
                <!-- <img src="/stream"> -->
            </td>
            <td>
                <button onclick="window.location.href='/window?cmd=rl'">&#11013;</button><br>
                <button onclick="window.location.href='/window?cmd=rr'">&#10145;</button>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td align="center">
                <button onclick="window.location.href='/window?cmd=uu'">&#11015;</button>
                <button onclick="window.location.href='/window?cmd=uo'">&#11014;</button>
            </td>
            <td>
            </td>
        </tr>
    </table>
    </p>

    <div style="height:20px"></div>

    <p>
    <div align="center">
        <table>
            <tr>
                <td>Brightness:</td>
                <td><button style="width: 25px" onclick="window.location.href='/brightness_down'">-</button></td>
                <td><button style="width: 25px" onclick="window.location.href='/brightness_up'">+</button></td>
            </tr>
            <tr>
                <td>Saturation:</td>
                <td><button style="width: 25px" onclick="window.location.href='/saturation_down'">-</button></td>
                <td><button style="width: 25px" onclick="window.location.href='/saturation_up'">+</button></td>
            </tr>
            <tr>
                <td>Smoothing:</td>
                <td><button style="width: 25px" onclick="window.location.href='/smoothing_down'">-</button></td>
                <td><button style="width: 25px" onclick="window.location.href='/smoothing_up'">+</button></td>
            </tr>
        </table>
        <br>
        <div>
            <button onclick="window.location.href='/'">reload</button>
            <button onclick="window.location.href='/stream'">stream</button>
            <button onclick="window.location.href='/stop'">stop</button>
        </div>
    </div>
    </p>
</body>

</html>