<!DOCTYPE html>

<head>
  <title>Ambicam Remote</title>

  <meta name="mobile-web-app-capable" content="yes">
  <!-- {# <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="shortcut icon" sizes="128x128" href="{{ url_for('static', filename='icon128.png') }}">
  <link rel="shortcut icon" sizes="192x192" href="{{ url_for('static', filename='icon192.png') }}">
  <link rel="shortcut icon" sizes="196x196" href="{{ url_for('static', filename='icon196.png') }}">
  <link rel="shortcut icon" sizes="512x512" href="{{ url_for('static', filename='icon512.png') }}"> #} -->

  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- {# <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}"> #}
  {# <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ url_for('static', filename='icon128.png') }}"> #}
  {# <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='favicon.png') }}" > #} -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#222233">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> #} -->

  <style>
    .btn-title {
      background-color: #0DCAF0;
      color: black;
      min-width: 7em;
    }

    .btn-inaktiv {
      background-color: #0DCAF0;
      color: black;
    }

    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      background-color: #222233;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .btn-info {
      min-width: 70px;
    }

    .container {
      align-items: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      display: inline-flex;
    }

    .btn-group {
      width: 100%;
    }

    .btn {
      width: 100%;
    }

    .alert {
      width: 100%;
    }
  </style>

</head>

<body>

  <div class="container gap-2 col-9">
    <div class="btn-group" role="group">
      <a class="btn btn-title" href="">red</a>
      <a id="red_down" class="btn btn-secondary" href="#">-</a>
      <a id="red_up" class="btn btn-secondary" href="#">+</a>
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-title" href="">green</a>
      <a id="green_down" class="btn btn-secondary" href="#">-</a>
      <a id="green_up" class="btn btn-secondary" href="#">+</a>
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-title" href="">blue</a>
      <a id="blue_down" class="btn btn-secondary" href="#">-</a>
      <a id="blue_up" class="btn btn-secondary" href="#">+</a>
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-title" href="">brightness</a>
      <a id="brightness_down" class="btn btn-secondary" href="#">-</a>
      <a id="brightness_up" class="btn btn-secondary" href="#">+</a>
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-title" href="">saturation</a>
      <a id="saturation_down" class="btn btn-secondary" href="#">-</a>
      <a id="saturation_up" class="btn btn-secondary" href="#">+</a>
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-title" href="">smoothing</a>
      <a id="smoothing_down" class="btn btn-secondary" href="#">-</a>
      <a id="smoothing_up" class="btn btn-secondary" href="#">+</a>
    </div>
    <div class="btn-group" role="group">
      <a id="start" class="btn btn-primary" href="#">start</a>
      <a id="stop" class="btn btn-primary" href="#">stop</a>
      <a id="force" class="btn btn-primary" href="#">force</a>
      <a id="log" class="btn btn-secondary" href="/logs">logs</a>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $("#red_down").on("click", function () {
      $.get("/colors/red_down");
    });
    $("#red_up").on("click", function () {
      $.get("/colors/red_up");
    });
    $("#green_down").on("click", function () {
      $.get("/colors/green_down");
    });
    $("#green_up").on("click", function () {
      $.get("/colors/green_up");
    });
    $("#blue_down").on("click", function () {
      $.get("/colors/blue_down");
    });
    $("#blue_up").on("click", function () {
      $.get("/colors/blue_up");
    });
    $("#brightness_down").on("click", function () {
      $.get("/colors/brightness_down");
    });
    $("#brightness_up").on("click", function () {
      $.get("/colors/brightness_up");
    });
    $("#saturation_down").on("click", function () {
      $.get("/saturation_down");
    });
    $("#saturation_up").on("click", function () {
      $.get("/saturation_up");
    });
    $("#smoothing_down").on("click", function () {
      $.get("/smoothing_down");
    });
    $("#smoothing_up").on("click", function () {
      $.get("/smoothing_up");
    });
    $("#start").on("click", function () {
      $.get("/start");
      window.location.reload();
    });
    $("#stop").on("click", function () {
      $.get("/stop");
      window.location.reload();
    });
    $("#force").on("click", function () {
      $.get("/start/force");
      window.location.reload();
    });
  </script>
</body>

</html>